<div class="row">
<div class="col" style="padding:0px 100px">
<br>
<br>
<h2 class="page-header" align="center">Login</h2>

  <div class="col">
      <div class="container">
      <div class="form-group">
        <label for="inputEmail3">Username</label>
        <input type="text" class="form-control" [(ngModel)]="inputName" placeholder="Enter Username" [(ngModel)]="name">
      </div>
      <div class="form-group">
      <label for="inputPassword3">Password</label>
      <input type="password" class="form-control" [(ngModel)]="inputPassword" placeholder=" Enter Password"  [(ngModel)]="password">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <a class="btn btn-primary" (click)="login(inputName, inputPassword, '','../assets/img/default.png')" >Log in</a>
</div>
</div><br><br>
<div class="col" >
  <button class="btn btn-block border-success bg-light" (click)="loginFB()"  >Login with Facebook</button>
  <button class="btn btn-block border-success bg-light" (click)="logingoogle()" >Login with Google</button>
</div><br>
</div>
</div>
