<div class="container">
        <div class="jumbotron">
            <h3>Work Out University</h3>
            <p>Welcome to Work Out University! The best exercize tracker for college students</p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card" >
                    <img class="card-img-top" src="download.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Login</h4>
                        <p class="card-text">Already have an account? Welcome back!</p>
                        <a routerLink="/login" class="btn btn-primary">Login</a>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                    <div class="card" >
                            <img class="card-img-top" src="download.png" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Create a new Account</h4>
                                <p class="card-text">Welcome click here to make a new account</p>
                                <a routerLink="/newAccount" class="btn btn-primary">Come on in</a>
                            </div>
                        </div>
                        
            </div>
            <div class="col-md-4">
                    <div class="card" >
                            <img class="card-img-top" src="download.png" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">About</h4>
                                <p class="card-text">Want to know more about Work Out University?</p>
                                <a routerLink="/about" class="btn btn-primary">Work out your brain and your body here</a>
                            </div>
                        </div>
                
            </div>
        </div>                
    </div>
